# IMPORT DATA

In [1]:
#library untuk membuat, mengubah dan mengecek data pada tabel
import pandas as pd
pd.set_option('display.max_colwidth', 20)
# pd.reset_option('^display.', silent=True)
# pd.set_option('display.max_rows', 3)
import numpy as np
#Membaca data csv
data_path = "C:\\Users\\HP\\Downloads\\TUGAS AKHIR\EXCEL KODINGAN\\DataProdukVers5.csv"
data_product = pd.read_csv(data_path)

#Menampilkan data
data_product.head(3)

,No,Nama,Jenis,Merk,Jenis Kulit,Permasalahan Kulit,Deskripsi,Kandungan,Gambar
0,1,Marigold Deep-Cl...,Facial Wash,NPure,"normal, berminya...","normal, kusam",Pembersih muka d...,"Water, Glycerin,...",https://www.beau...
1,2,Acne Facial Wash,Facial Wash,SCARLETT WHITENING,"normal, berminya...","normal, kusam",Scarlett Whiteni...,"Aqua, Lauryl Glu...",https://www.beau...
2,3,Hy! Amino Wow-te...,Facial Wash,YOU BEAUTY,"normal, kering","normal, kusam",Facial Wash yang...,"Water, Sodium La...",https://www.beau...

# TEXT PREPROCESSING

In [2]:
pd.set_option('display.max_colwidth', 150)
#Drop kolom yang tidak dibutuhkan
data_product = data_product.drop(labels=["No","Merk","Deskripsi","Gambar"], axis='columns')

data_product.head(2)

,Nama,Jenis,Jenis Kulit,Permasalahan Kulit,Kandungan
0,Marigold Deep-Cleanse Facial Wash,Facial Wash,"normal, berminyak, kering, kombinasi","normal, kusam","Water, Glycerin, Coco-Betaine, Disodium Cocoamphodiacetate, Sodium Chloride, Potassium Cocoyl Glycinate, Calendula Officinalis Flower Extract, But..."
1,Acne Facial Wash,Facial Wash,"normal, berminyak, kombinasi","normal, kusam","Aqua, Lauryl Glucoside, Acrylates Copolymer, Sodium Cocoyl Glyrcinate, Peg-40 Hydrogenated Castor Oil, Cocamidopropyl Betaine, Phenoxyethanol, Ami..."

In [3]:
data_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nama                100 non-null    object
 1   Jenis               100 non-null    object
 2   Jenis Kulit         100 non-null    object
 3   Permasalahan Kulit  100 non-null    object
 4   Kandungan           100 non-null    object
dtypes: object(5)
memory usage: 4.0+ KB

In [4]:
data_textPre = pd.DataFrame()
data_textPre['data awal'] = data_product['Nama'] + " " + data_product['Jenis '] + " " + data_product['Jenis Kulit'] + " " + data_product['Permasalahan Kulit'] + " " + data_product['Kandungan']

In [5]:
data_textPre[['data awal']].head(3)

                                                                                                                                               data awal
0  Marigold Deep-Cleanse Facial Wash Facial Wash normal, berminyak, kering, kombinasi normal, kusam Water, Glycerin, Coco-Betaine, Disodium Cocoampho...
1  Acne Facial Wash Facial Wash normal, berminyak, kombinasi normal, kusam Aqua, Lauryl Glucoside, Acrylates Copolymer, Sodium Cocoyl Glyrcinate, Peg...
2  Hy! Amino Wow-tery Hydrating Facial Wash Facial Wash normal, kering normal, kusam Water, Sodium Laureth Sulfate, Cocamidopropyl Betaine, Sodium La...



## CASE FOLDING

In [6]:
data_caseFolding = pd.DataFrame(data=data_textPre['data awal'])
data_caseFolding.rename(columns={'data awal':'case folding'}, inplace=True)
# Case Folding
for i in range(0, len(data_caseFolding)):
  data_caseFolding['case folding'][i] = data_caseFolding['case folding'][i].lower()

In [7]:
data_caseFolding.head(3)

                                                                                                                                            case folding
0  marigold deep-cleanse facial wash facial wash normal, berminyak, kering, kombinasi normal, kusam water, glycerin, coco-betaine, disodium cocoampho...
1  acne facial wash facial wash normal, berminyak, kombinasi normal, kusam aqua, lauryl glucoside, acrylates copolymer, sodium cocoyl glyrcinate, peg...
2  hy! amino wow-tery hydrating facial wash facial wash normal, kering normal, kusam water, sodium laureth sulfate, cocamidopropyl betaine, sodium la...

## TOKENIZING

In [8]:
pip install nltk

Requirement already satisfied: nltk in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (2023.3.23)
Requirement already satisfied: tqdm in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\hp\appdata\roaming\python\python38\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [9]:
#Mengimport nltk
import nltk
# import reguler expression
import re
# import string
import string
#Mendownload package untuk menghapus tanda baca
nltk.download('punkt')
# impor word_tokenize dari modul nltk
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [10]:
#Tokenizing
data_tokenizing = pd.DataFrame(data=data_caseFolding['case folding'])
data_tokenizing.rename(columns={'case folding': 'tokenizing'}, inplace=True)

for i in range (0, len(data_tokenizing)):
  #Menghapus Angka
  data_tokenizing['tokenizing'][i] = re.sub(
      r"\d+", "", data_tokenizing['tokenizing'][i])
  #Menghapus Tanda Baca
  data_tokenizing['tokenizing'][i] = data_tokenizing['tokenizing'][i].translate(
      str.maketrans('', '', string.punctuation))
  #Menghapus Simbol (@)
  data_tokenizing['tokenizing'][i] = re.sub(
      r"@\S+", "", data_tokenizing['tokenizing'][i])
  #Menghapus URL
  data_tokenizing['tokenizing'][i] = re.sub(
      "http[s]?\://\S+", "", data_tokenizing['tokenizing'][i])
  #Menghapus tab atau line karakter
  data_tokenizing['tokenizing'][i] = re.sub(
      r"\n", "", data_tokenizing['tokenizing'][i])
  #Menghapus single alpabet
  data_tokenizing['tokenizing'][i] = re.sub(
      r"\b[a-zA-Z]\b", "", data_tokenizing['tokenizing'][i])
  #Menghapus berlebihan spasi
  data_tokenizing['tokenizing'][i] = re.sub(
      '\s+', ' ', data_tokenizing['tokenizing'][i])
  #Memisahkan kata menggunakan word_tokenize
  data_tokenizing['tokenizing'][i] = nltk.word_tokenize(
      data_tokenizing['tokenizing'][i])

In [11]:
data_tokenizing.head(3)

                                                                                                                                              tokenizing
0  [marigold, deepcleanse, facial, wash, facial, wash, normal, berminyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, disodium, c...
1  [acne, facial, wash, facial, wash, normal, berminyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, gly...
2  [hy, amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betain...

## FILTERING

In [12]:
#Filtering
data_filtering = pd.DataFrame(data=data_tokenizing['tokenizing'])
data_filtering.rename(columns={'tokenizing': 'filtering'}, inplace=True)

#Mendownload package stopwords untuk menghapus kata kata yang tidak berarti dalam sebuah kalimat
nltk.download('stopwords')
from nltk.corpus import stopwords

#Stopword Bahasa Indonesia
indo_stopword = (stopwords.words('indonesian'))

#Stopword Bahasa Inggris
eng_stopword = (stopwords.words('english'))

#Data Stopword
data_stopword = indo_stopword
data_stopword.extend(eng_stopword)
data_stopword = str(data_stopword)

for i in range (0, len(data_filtering)):
  data_filtering['filtering'][i] = [word for word in data_filtering['filtering'][i] if not word in (data_stopword)]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
data_filtering.head(3)

                                                                                                                                               filtering
0  [marigold, deepcleanse, facial, wash, facial, wash, normal, berminyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, disodium, c...
1  [acne, facial, wash, facial, wash, normal, berminyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, gly...
2  [amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betaine, s...

## STEMMING

In [14]:
pip install PySastrawi

Requirement already satisfied: PySastrawi in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (1.2.0)Note: you may need to restart the kernel to use updated packages.

In [15]:
data_stemming = pd.DataFrame(data=data_filtering['filtering'])
data_stemming.rename(columns={'filtering': 'stemming'}, inplace=True)
#Stemming
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

#Membuat stemmer
Factory = StemmerFactory()
Stemmer = Factory.create_stemmer()

for i in range (0, len(data_stemming)):
  temp = []
  for j in range (0, len(data_stemming['stemming'][i])):
    data_stemming['stemming'][i][j] = Stemmer.stem(data_stemming['stemming'][i][j])
    temp.append(data_stemming['stemming'][i][j])
  data_stemming['stemming'][i] = temp

In [16]:
data_stemming.head(3)

                                                                                                                                                stemming
0  [marigold, deepcleanse, facial, wash, facial, wash, normal, minyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, sodium, cocoam...
1  [acne, facial, wash, facial, wash, normal, minyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, glyrci...
2  [amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betaine, s...

## Menggabungkan hasil tahapam preprocessing

In [17]:
data_textPre_res = pd.concat([data_textPre, data_caseFolding, data_tokenizing, data_filtering, data_stemming], axis=1)

In [18]:
data_textPre_res.head(3)

,data awal,case folding,tokenizing,filtering,stemming
0,"Marigold Deep-Cleanse Facial Wash Facial Wash normal, berminyak, kering, kombinasi normal, kusam Water, Glycerin, Coco-Betaine, Disodium Cocoampho...","marigold deep-cleanse facial wash facial wash normal, berminyak, kering, kombinasi normal, kusam water, glycerin, coco-betaine, disodium cocoampho...","[marigold, deepcleanse, facial, wash, facial, wash, normal, berminyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, disodium, c...","[marigold, deepcleanse, facial, wash, facial, wash, normal, minyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, sodium, cocoam...","[marigold, deepcleanse, facial, wash, facial, wash, normal, minyak, kering, kombinasi, normal, kusam, water, glycerin, cocobetaine, sodium, cocoam..."
1,"Acne Facial Wash Facial Wash normal, berminyak, kombinasi normal, kusam Aqua, Lauryl Glucoside, Acrylates Copolymer, Sodium Cocoyl Glyrcinate, Peg...","acne facial wash facial wash normal, berminyak, kombinasi normal, kusam aqua, lauryl glucoside, acrylates copolymer, sodium cocoyl glyrcinate, peg...","[acne, facial, wash, facial, wash, normal, berminyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, gly...","[acne, facial, wash, facial, wash, normal, minyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, glyrci...","[acne, facial, wash, facial, wash, normal, minyak, kombinasi, normal, kusam, aqua, lauryl, glucoside, acrylates, copolymer, sodium, cocoyl, glyrci..."
2,"Hy! Amino Wow-tery Hydrating Facial Wash Facial Wash normal, kering normal, kusam Water, Sodium Laureth Sulfate, Cocamidopropyl Betaine, Sodium La...","hy! amino wow-tery hydrating facial wash facial wash normal, kering normal, kusam water, sodium laureth sulfate, cocamidopropyl betaine, sodium la...","[hy, amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betain...","[amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betaine, s...","[amino, wowtery, hydrating, facial, wash, facial, wash, normal, kering, normal, kusam, water, sodium, laureth, sulfate, cocamidopropyl, betaine, s..."

In [19]:
pd.set_option('display.max_colwidth', 60)
data_textPre_res.head(3)

,data awal,case folding,tokenizing,filtering,stemming
0,"Marigold Deep-Cleanse Facial Wash Facial Wash normal, be...","marigold deep-cleanse facial wash facial wash normal, be...","[marigold, deepcleanse, facial, wash, facial, wash, norm...","[marigold, deepcleanse, facial, wash, facial, wash, norm...","[marigold, deepcleanse, facial, wash, facial, wash, norm..."
1,"Acne Facial Wash Facial Wash normal, berminyak, kombinas...","acne facial wash facial wash normal, berminyak, kombinas...","[acne, facial, wash, facial, wash, normal, berminyak, ko...","[acne, facial, wash, facial, wash, normal, minyak, kombi...","[acne, facial, wash, facial, wash, normal, minyak, kombi..."
2,Hy! Amino Wow-tery Hydrating Facial Wash Facial Wash nor...,hy! amino wow-tery hydrating facial wash facial wash nor...,"[hy, amino, wowtery, hydrating, facial, wash, facial, wa...","[amino, wowtery, hydrating, facial, wash, facial, wash, ...","[amino, wowtery, hydrating, facial, wash, facial, wash, ..."

In [20]:
#Menjadikan dataset file xlsx
data_textPre_res.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'Hasil Text Preprocessing.xlsx', index=False)

# Menggabungkan Kata

In [21]:
#Menggabungkan setiap kata dalam satu data
dataset_res = [] 

for i in range(0, len(data_textPre_res['stemming'])):
  temp = []
  temp = " ".join(data_textPre_res['stemming'][i])
  dataset_res.append(temp)

dataset = pd.DataFrame(dataset_res, columns=["data"])
dataset.head(3)

                                                          data
0  marigold deepcleanse facial wash facial wash normal miny...
1  acne facial wash facial wash normal minyak kombinasi nor...
2  amino wowtery hydrating facial wash facial wash normal k...

In [22]:
# Menjadikan dataset file xlsx
dataset.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'Dataset Digabungkan.xlsx', index=False)

# PERHITUNGAN MANUAL

## MENGHITUNG KAMUS KATA MANUAL

In [23]:
# from nltk.tokenize import word_tokenize
# ##TFIDF MANUAL
# word_vocab=[]
# for i in range(0,len(dataset)):
#   words = dataset['data'][i].split()
#   for word in words:
#     if word not in word_vocab:
#       word_vocab.append(word)

# word_vocab = set(word_vocab)
# print('total data : ', len(data_textPre))
# print('total kata : ', len(word_vocab))

In [24]:
# word_vocab = sorted(set(word_vocab))
# print(word_vocab)

## PERHITUNGAN TF MANUAL

In [25]:
# n_data = len(dataset['data'])
# n_kata = len(word_vocab)

# data_tf = pd.DataFrame(np.zeros((n_data, n_kata)), columns=list(word_vocab))
 
# # Menghitung TF
# for i in range(n_data):
    
#     words = dataset['data'][i].split() # Words in the document
#     for w in words:
#         data_tf[w][i] = data_tf[w][i] + 1 / len(words) 
    
# data_tf

In [26]:
# #Menjadikan dataset file xlsx
# data_tf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'hasilTFManual.xlsx', index=False)

## PERHITUNGAN IDF MANUAL

In [27]:
# idf = {}
 
# for w in word_vocab:
#     n = 0   
     
#     for i in range(n_data):
#         if w in dataset['data'][i].split():
#             n += 1
             
#     idf[w] =  (np.log((1+n_data)/(1+n)))+1

# print(idf)

In [28]:
# data_idf = pd.DataFrame.from_dict(idf, orient='index',columns=['Nilai IDF'])

In [29]:
# data_idf.head(3)

In [30]:
# #Menjadikan dataset file xlsx
# data_idf.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'hasilIDFManual.xlsx', index=False)

## TFIDF MANUAL

In [31]:
# data_tf_idf = data_tf.copy()
 
# for w in word_vocab:
#     for i in range(n_data):
#         data_tf_idf[w][i] = data_tf[w][i] * idf[w]
         
# data_tf_idf

In [32]:
# #Melakukan normalisasi
# from sklearn import preprocessing
# import numpy as np

# normalizd_arr = preprocessing.normalize(data_tf_idf)

# after_normz = pd.DataFrame(normalizd_arr, columns=list(word_vocab) )
# after_normz

In [33]:
# #Menjadikan dataset file xlsx
# after_normz.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'hasil_TFIDF_Manual.xlsx', index=False)

# 5 RECOMMENDATION

## IMPORT DATA PENGGUNA

In [34]:
data_path = "C:\\Users\\HP\\Downloads\\DataPengguna4.csv"
data_pengguna = pd.read_csv(data_path)
data_pengguna.head(3)

,No,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Kandungan
0,1,Facial Wash,Normal,Normal,NaN
1,2,Facial Wash,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N..."
2,3,Facial Wash,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid..."

In [35]:
data_pengguna = data_pengguna.drop(labels=["No"], axis='columns')
data_pengguna["Kandungan"].fillna(" ", inplace=True)
data_pengguna['input'] = data_pengguna['Jenis Produk'] + " " + data_pengguna['Jenis Kulit'] + \
    " " + data_pengguna['Permasalahan Kulit'] + \
    " " + data_pengguna['Kandungan']

In [36]:
data_pengguna["Kandungan"].fillna(" ", inplace=True)

## MEMBUAT DATA KEMUNGKINAN INPUTAN PENGGUNA

In [37]:
data_pengguna['input'] = data_pengguna['Jenis Produk'] + " " +  data_pengguna['Jenis Kulit'] + " " + data_pengguna['Permasalahan Kulit'] + " " + data_pengguna['Kandungan']

data_pengguna.head(3)

,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Kandungan,input
0,Facial Wash,Normal,Normal,,Facial Wash Normal Normal
1,Facial Wash,Normal,Kusam,"Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, N...","Facial Wash Normal Kusam Hyaluronic Acid, Alpha Hydroxy ..."
2,Facial Wash,Normal,Jerawat,"Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid...","Facial Wash Normal Jerawat Salicylic Acid, Sulfur, Azela..."

## 5 REKOMENDASI BERDASARKAN DATA INPUTAN PENGGUNA

In [38]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (1.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (3.1.0)

### JIKA INPUTAN PENGGUNA MASUK KE DALAM DATABASE

In [39]:
#TEXT PREPROCESSING INPUTAN
def text_pre_input_two (user_input):
  # CASE FOLDING
    user_input = user_input.lower()

  # TOKENIZING
    # Menghapus Angka
    user_input = re.sub(r"\d+", "", user_input)
    # Menghapus Tanda Baca
    user_input = user_input.translate(
        str.maketrans("", "", string.punctuation))
    # Menghapus Simbol (@)
    user_input = re.sub(r"@\S+", "", user_input)
    # Menghapus URL
    user_input = re.sub("http[s]?\://\S+", "", user_input)
    # Menghapus tab atau line karakter
    user_input = re.sub(r"\n", "", user_input)
    # Menghapus berlebihan spasi
    user_input = re.sub('\s+', ' ', user_input)
    # dilakukan proses tokenization pada user_input
    tokens_query = [str(tok) for tok in nltk.word_tokenize(user_input)]

  # FILTERING
    # Stopword Bahasa Indonesia
    indo_stopword = set(stopwords.words('indonesian'))

    # Stopword Bahasa Inggris
    eng_stopword = set(stopwords.words('english'))

    # Data Stopword
    data_stopword = str(indo_stopword) + " " + str(eng_stopword)

    # Data tanpa stopword
    tokens_query = [word for word in tokens_query if not word in data_stopword]

  # STEMMING
    the_query = []
    # Membuat stemmer
    Factory = StemmerFactory()
    Stemmer = Factory.create_stemmer()
    for i in range(0, len(tokens_query)):
        tokens_query[i] = Stemmer.stem(tokens_query[i])
        the_query.append(tokens_query[i])

    join_query = ' '.join(tokens_query)
    return (join_query)

In [40]:
print('Sebelum text preprocessing :')
print('Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid')
print('Setelah text preprocessing :')
a = 'Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid'
b = text_pre_input_two(a)
print(b)

Sebelum text preprocessing :
Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
Setelah text preprocessing :
facial wash minyak normal dimethicone glycolic acid hyaluronic acid niacinamide retinol salicylic acid

In [80]:
#COSINE SIMILARITY AND GET THE RECOMMENDATION
from sklearn.metrics.pairwise import cosine_similarity

def get_recommendations_product_two(tfidf_dataset):

    # Mencari tingkat kemiripan antara user_input dengan dataset
    cos_sim = cosine_similarity(tfidf_dataset, tfidf_dataset)
    # print(cos_sim)
    df_cosim = pd.DataFrame(data=cos_sim)
    # display(df_cosim)

    #Mengambil nilai cosine similarity pada baris yang berisi inputan pengguna
    val_cos_sim = pd.DataFrame(data=cos_sim[-1,:], columns=['Cosine Similarity Score'])
    # display(val_cos_sim)

    # Mencari 5 teratas nilai kemiripan tertinggi
    top5 = val_cos_sim.sort_values("Cosine Similarity Score", ascending=False)[1:6]
    # display(top5)

    # Mencari index dari 5 nilai kemiripan teratas
    index = list(top5.index.values)

    return index, top5

In [42]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (3.1.2)
Note: you may need to restart the kernel to use updated packages.

In [78]:
#TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer

# import xlsxwriter module
import xlsxwriter

#contoh inputan pengguna
test_case = "Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid"

print(test_case)

# TFIDF vectorizer
vectorizer = TfidfVectorizer(analyzer='word', stop_words=list(data_stopword))
# melakuka text preprocessing pada inputan pengguna
user_input = text_pre_input_two(test_case)
# menambahkan ke dalam dataset
add_data = pd.DataFrame({'data':user_input}, index=[-1])
# print(add_data)

# membuat variabel baru untuk menampung data product
the_data = data_product

#percabangan agar produk yang direkomendasikan sesuai dengan kategori
if (test_case.find('Facial Wash')!=-1):
  print ('Facial Wash')
  th_idx = pd.concat([dataset[0:20],add_data]).reset_index(drop=True)
  the_product = the_data[0:20]
elif (test_case.find('Face Toner')!=-1):
  print ('Face Toner')
  th_idx = pd.concat([dataset[20:40],add_data]).reset_index(drop=True)
  the_product = the_data[20:40]
elif (test_case.find('Face Serum')!=-1):
  print('Face Serum')
  th_idx = pd.concat([dataset[40:60],add_data]).reset_index(drop=True)
  the_product = the_data[40:60]
elif (test_case.find('Moisturizer')!=-1):
  print('Moisturizer')
  th_idx = pd.concat([dataset[60:80],add_data]).reset_index(drop=True)
  the_product = the_data[60:80]
else :
  print('Sunscreen')
  th_idx = pd.concat([dataset[80:100],add_data]).reset_index(drop=True)
  the_product = the_data[80:100]
  

tfidf_dataset1 = vectorizer.fit_transform(th_idx['data'])
index, top5 = get_recommendations_product_two(tfidf_dataset1)

res_data = pd.DataFrame(the_product[['Nama', 'Jenis ']].iloc[index])
top5.index = res_data.index
fix_res = pd.concat([res_data, top5], axis=1)

display(fix_res)

df_tfidf_sklearn = pd.DataFrame(tfidf_dataset1.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_tokens = vectorizer.get_feature_names_out()
df_tfidfvect = pd.DataFrame(data=tfidf_dataset1.toarray(
), index=th_idx.index.values, columns=tfidf_tokens)

display(df_tfidfvect)

# Menuliskan hasil ke excel
writer = pd.ExcelWriter('C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/HasilRekomendasiTrial.xlsx', engine='xlsxwriter')
row = 2
col = 0
fix_res.to_excel(writer, startrow=row)

work_book = writer.book
work_sheet =  writer.sheets["Sheet1"]
row-=2
work_sheet.write(row, col, test_case)
row+= 3

writer.close()

Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
Facial Wash

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.000000,0.174484,0.221325,0.226066,0.213867,0.209399,0.206407,0.164340,0.165033,0.132686,...,0.116386,0.237316,0.200497,0.036146,0.117218,0.157069,0.158201,0.138690,0.170008,0.172825
1,0.174484,1.000000,0.237016,0.304464,0.242621,0.290464,0.219784,0.250102,0.177961,0.241937,...,0.145858,0.201195,0.164211,0.070046,0.328256,0.153604,0.142223,0.159117,0.181834,0.112215
2,0.221325,0.237016,1.000000,0.850138,0.811803,0.732442,0.301502,0.335974,0.334510,0.294931,...,0.227968,0.229317,0.279010,0.031346,0.172886,0.215723,0.276199,0.163364,0.199931,0.136301
3,0.226066,0.304464,0.850138,1.000000,0.870733,0.780271,0.264926,0.300050,0.343261,0.294143,...,0.216421,0.236026,0.288834,0.050123,0.276146,0.214550,0.278255,0.231578,0.217972,0.203563
4,0.213867,0.242621,0.811803,0.870733,1.000000,0.756233,0.256535,0.272249,0.321440,0.275351,...,0.189418,0.215097,0.270105,0.025264,0.190271,0.155905,0.228898,0.162582,0.207226,0.229273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,0.157069,0.153604,0.215723,0.214550,0.155905,0.159261,0.125320,0.129539,0.106710,0.087706,...,0.130458,0.183976,0.096076,0.043079,0.189702,1.000000,0.469777,0.462839,0.456109,0.076881
17,0.158201,0.142223,0.276199,0.278255,0.228898,0.201843,0.105082,0.136584,0.141320,0.101938,...,0.132123,0.134341,0.135272,0.053029,0.203181,0.469777,1.000000,0.532841,0.502435,0.161652
18,0.138690,0.159117,0.163364,0.231578,0.162582,0.134130,0.103510,0.123403,0.118918,0.089232,...,0.120159,0.133480,0.108768,0.044153,0.168225,0.462839,0.532841,1.000000,0.476311,0.149641
19,0.170008,0.181834,0.199931,0.217972,0.207226,0.154089,0.130070,0.131478,0.120797,0.105768,...,0.126309,0.227847,0.088863,0.034357,0.230506,0.456109,0.502435,0.476311,1.000000,0.105774
20,0.172825,0.112215,0.136301,0.203563,0.229273,0.179483,0.144422,0.059330,0.129644,0.063557,...,0.046383,0.045802,0.051655,0.025861,0.108288,0.076881,0.161652,0.149641,0.105774,1.000000

    Cosine Similarity Score
0                  0.172825
1                  0.112215
2                  0.136301
3                  0.203563
4                  0.229273
..                      ...
16                 0.076881
17                 0.161652
18                 0.149641
19                 0.105774
20                 1.000000

[21 rows x 1 columns]

    Cosine Similarity Score
4                  0.229273
3                  0.203563
5                  0.179483
0                  0.172825
17                 0.161652

,Nama,Jenis,Cosine Similarity Score
4,Hy! Amino Control Oil Control Facial Wash,Facial Wash,0.229273
3,Hy! Amino Ac-TtackAnti-Acne Facial Wash,Facial Wash,0.203563
5,Hy! Amino Glo-Win Brightening Facial Wash,Facial Wash,0.179483
0,Marigold Deep-Cleanse Facial Wash,Facial Wash,0.172825
17,Hydralife Mild Cleanser Foam,Facial Wash,0.161652

,acetate,acetyl,acetylated,acid,acne,acocia,acrylate,acrylates,acrylatesc,acttackantiacne,...,volcanic,vulgar,wajah,wash,water,wax,wowtery,xanthan,xylitol,zea
0,0.09731,0.122248,0.000000,0.247512,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.071955,0.052239,0.0,0.000000,0.0,0.000000,0.0
1,0.00000,0.000000,0.000000,0.094679,0.123548,0.140288,0.0,0.083052,0.0,0.0000,...,0.000000,0.000000,0.0,0.082574,0.179843,0.0,0.000000,0.0,0.000000,0.0
2,0.00000,0.000000,0.101618,0.187807,0.000000,0.000000,0.0,0.082372,0.0,0.0000,...,0.000000,0.000000,0.0,0.081897,0.059457,0.0,0.139139,0.0,0.000000,0.0
3,0.00000,0.000000,0.105752,0.244310,0.000000,0.000000,0.0,0.085723,0.0,0.1448,...,0.000000,0.000000,0.0,0.085229,0.061876,0.0,0.000000,0.0,0.000000,0.0
4,0.00000,0.000000,0.101216,0.280595,0.000000,0.000000,0.0,0.082046,0.0,0.0000,...,0.138588,0.000000,0.0,0.081573,0.059221,0.0,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,0.00000,0.000000,0.000000,0.075107,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.065504,0.000000,0.0,0.000000,0.0,0.000000,0.0
17,0.00000,0.000000,0.000000,0.083212,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.072573,0.000000,0.0,0.000000,0.0,0.246595,0.0
18,0.00000,0.000000,0.000000,0.093451,0.243889,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.081502,0.000000,0.0,0.000000,0.0,0.000000,0.0
19,0.00000,0.000000,0.000000,0.145436,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.215496,0.0,0.063421,0.000000,0.0,0.000000,0.0,0.000000,0.0
20,0.00000,0.000000,0.000000,0.430953,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.125284,0.000000,0.0,0.000000,0.0,0.000000,0.0

In [61]:
pd.set_option("display.max_rows", 10)
asd = pd.DataFrame(df_tfidfvect)
asd

,acetate,acetyl,acetylated,acid,acne,acocia,acrylate,acrylates,acrylatesc,acttackantiacne,...,volcanic,vulgar,wajah,wash,water,wax,wowtery,xanthan,xylitol,zea
0,0.09731,0.122248,0.000000,0.247512,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.071955,0.052239,0.0,0.000000,0.0,0.000000,0.0
1,0.00000,0.000000,0.000000,0.094679,0.123548,0.140288,0.0,0.083052,0.0,0.0000,...,0.000000,0.000000,0.0,0.082574,0.179843,0.0,0.000000,0.0,0.000000,0.0
2,0.00000,0.000000,0.101618,0.187807,0.000000,0.000000,0.0,0.082372,0.0,0.0000,...,0.000000,0.000000,0.0,0.081897,0.059457,0.0,0.139139,0.0,0.000000,0.0
3,0.00000,0.000000,0.105752,0.244310,0.000000,0.000000,0.0,0.085723,0.0,0.1448,...,0.000000,0.000000,0.0,0.085229,0.061876,0.0,0.000000,0.0,0.000000,0.0
4,0.00000,0.000000,0.101216,0.280595,0.000000,0.000000,0.0,0.082046,0.0,0.0000,...,0.138588,0.000000,0.0,0.081573,0.059221,0.0,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,0.00000,0.000000,0.000000,0.075107,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.065504,0.000000,0.0,0.000000,0.0,0.000000,0.0
17,0.00000,0.000000,0.000000,0.083212,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.072573,0.000000,0.0,0.000000,0.0,0.246595,0.0
18,0.00000,0.000000,0.000000,0.093451,0.243889,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.081502,0.000000,0.0,0.000000,0.0,0.000000,0.0
19,0.00000,0.000000,0.000000,0.145436,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.215496,0.0,0.063421,0.000000,0.0,0.000000,0.0,0.000000,0.0
20,0.00000,0.000000,0.000000,0.430953,0.000000,0.000000,0.0,0.000000,0.0,0.0000,...,0.000000,0.000000,0.0,0.125284,0.000000,0.0,0.000000,0.0,0.000000,0.0

### Jika dilakukan pada seluruh data pengguna

In [148]:
#TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer

# import modul xlsxwriter untuk membantu menulis data ke excel
import xlsxwriter

# Membuat excel yang menjadi tujuan tuli
writer = pd.ExcelWriter('C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/HasilRekomendasiFix.xlsx', engine='xlsxwriter')
writer_two = pd.ExcelWriter(
    'C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/HasilTFIDF_FIX.xlsx', engine='xlsxwriter')
# Awal penulisan
row = 1
row_two = 1
col = 0
col_two = 0

data_index = pd.DataFrame({
  'index':[]
})

for i in range (0,len(data_pengguna)):
  print(data_pengguna['input'][i])

  #contoh inputan pengguna
  test_case = data_pengguna['input'][i]

  # melakuka text preprocessing pada inputan pengguna
  user_input = text_pre_input_two(test_case)
  # menambahkan ke dalam dataset
  add_data = pd.DataFrame({'data':user_input}, index=[-1])
  # print(add_data)

  # membuat variabel baru untuk menampung data product
  the_data = data_product

  #percabangan agar produk yang direkomendasikan sesuai dengan kategori
  if (test_case.find('Facial Wash')!=-1):
    # print ('Facial Wash')
    th_idx = pd.concat([dataset[0:20],add_data]).reset_index(drop=True)
    the_product = the_data[0:20]
  elif (test_case.find('Face Toner')!=-1):
    # print ('Face Toner')
    th_idx = pd.concat([dataset[20:40],add_data]).reset_index(drop=True)
    the_product = the_data[20:40]
  elif (test_case.find('Face Serum')!=-1):
    # print('Face Serum')
    th_idx = pd.concat([dataset[40:60],add_data]).reset_index(drop=True)
    the_product = the_data[40:60]
  elif (test_case.find('Moisturizer')!=-1):
    # print('Moisturizer')
    th_idx = pd.concat([dataset[60:80],add_data]).reset_index(drop=True)
    the_product = the_data[60:80]
  else :
    # print('Sunscreen')
    th_idx = pd.concat([dataset[80:100],add_data]).reset_index(drop=True)
    the_product = the_data[80:100]

  # TFIDF vectorizer
  vectorizer = TfidfVectorizer(analyzer='word', stop_words=list(data_stopword))
  # Mencari nilai TFIDF dari dataset yang telah ditentukan
  tfidf_dataset1 = vectorizer.fit_transform(th_idx['data'])
  # Mencari rekomendasi berdasarkan nilai cosine similarity yang didapatkan dari nilai TFIDF sebelumnya
  index, top5 = get_recommendations_product_two(tfidf_dataset1)

  

  df_tfidf_sklearn = pd.DataFrame(tfidf_dataset1.toarray(), columns=vectorizer.get_feature_names_out())
  tfidf_tokens = vectorizer.get_feature_names_out()
  df_tfidfvect = pd.DataFrame(data=tfidf_dataset1.toarray(), index=th_idx.index.values, columns=tfidf_tokens)

  df_tfidfvect.to_excel(writer_two, startrow=row_two)
  # Mengakses file excel dan sheet untuk menuliskan sesuatu
  work_book_tw = writer_two.book
  work_sheet_tw = writer_two.sheets["Sheet1"]
  row_two -= 1

  # Menuliskan 'test_case' pada baris dan kolom yang telah ditentukan
  work_sheet_tw.write(row_two, col_two, test_case)
  row_two += 23
  work_sheet_tw.write(row_two, col_two, str(df_tfidfvect.shape))
  row_two +=4

  # display(df_tfidfvect)
  # print(df_tfidfvect.shape)

  # Menyimpan hasil rekomendasi berdasarkan indexnya
  res_data = pd.DataFrame(the_product[['Nama', 'Jenis ']].iloc[index])
  # Menyamakan index antara hasil rekomendasi dengan hasil cosine similarity
  top5.index = res_data.index
  # Menggabungkan data 
  fix_res = pd.concat([res_data, top5], axis=1)
  # display(fix_res)

  index_two = set(fix_res.index.values)

  print(index_two)
  data_index_new = pd.DataFrame([{'index': index_two}])
  data_index = pd.concat([data_index, data_index_new], ignore_index=True)

  # Hasil rekomendasi dituliskan ke dalam excel
  fix_res.to_excel(writer, startrow=row)

  # Mengakses file excel dan sheet untuk menuliskan sesuatu
  work_book = writer.book
  work_sheet =  writer.sheets["Sheet1"]
  row-=1
  
  # Menuliskan 'test_case' pada baris dan kolom yang telah ditentukan
  work_sheet.write(row, col, test_case)
  row+= 10

# Menyimpan hasil yang telah dituliskan
writer.close()
writer_two.close()

Facial Wash Normal Normal
{3, 6, 10, 11, 17}
Facial Wash Normal Kusam Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{0, 3, 5, 8, 15}
Facial Wash Normal Jerawat Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{1, 3, 4, 6, 15}
Facial Wash Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
{0, 3, 4, 5, 17}
Facial Wash Berminyak Kusam Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Shea Butter
{0, 3, 4, 5, 17}
Facial Wash Berminyak Jerawat Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{0, 3, 4, 5, 15}
Facial Wash Kering Normal Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea
{3, 4, 6, 15, 17}
Facial Wash Kering Kusam Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{0, 3, 4, 6, 15}
Facial Wash Kering Jerawat Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{0, 3, 4, 6, 15}
Facial Wash Kombinasi Normal Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E
{3, 6, 7, 8, 15}
Facial Wash Kombinasi Kusam Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Alpha Hydroxy Acids (AHA), Niacinamide, Shea Butter
{0, 5, 6, 7, 15}
Facial Wash Kombinasi Jerawat Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{3, 4, 5, 6, 15}
Face Toner Normal Normal
{36, 23, 27, 28, 30}
Face Toner Normal Kusam Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{32, 23, 24, 28, 29}
Face Toner Normal Jerawat Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{39, 22, 23, 29, 30}
Face Toner Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
{23, 24, 25, 26, 30}
Face Toner Berminyak Kusam Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Shea Butter
{23, 24, 28, 29, 30}
Face Toner Berminyak Jerawat Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{23, 24, 25, 29, 30}
Face Toner Kering Normal Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea
{22, 23, 24, 26, 30}
Face Toner Kering Kusam Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{23, 24, 26, 28, 29}
Face Toner Kering Jerawat Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{22, 23, 24, 25, 30}
Face Toner Kombinasi Normal Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E
{23, 24, 25, 26, 28}
Face Toner Kombinasi Kusam Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Alpha Hydroxy Acids (AHA), Niacinamide, Shea Butter
{23, 24, 26, 28, 29}
Face Toner Kombinasi Jerawat Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{23, 24, 25, 28, 30}
Face Serum Normal Normal
{50, 51, 52, 55, 59}
Face Serum Normal Kusam Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{47, 54, 55, 58, 59}
Face Serum Normal Jerawat Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{47, 54, 56, 57, 58}
Face Serum Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
{42, 47, 52, 54, 57}
Face Serum Berminyak Kusam Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Shea Butter
{42, 47, 52, 54, 57}
Face Serum Berminyak Jerawat Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{42, 47, 54, 56, 57}
Face Serum Kering Normal Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea
{42, 47, 54, 56, 57}
Face Serum Kering Kusam Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{42, 47, 54, 56, 57}
Face Serum Kering Jerawat Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{42, 47, 54, 56, 57}
Face Serum Kombinasi Normal Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E
{45, 47, 52, 54, 57}
Face Serum Kombinasi Kusam Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Alpha Hydroxy Acids (AHA), Niacinamide, Shea Butter
{45, 47, 52, 54, 57}
Face Serum Kombinasi Jerawat Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{47, 52, 54, 56, 57}
Moisturizer Normal Normal
{70, 75, 76, 77, 63}
Moisturizer Normal Kusam Hyaluronic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{67, 72, 78, 79, 60}
Moisturizer Normal Jerawat Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{69, 72, 75, 79, 63}
Moisturizer Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
{68, 69, 72, 78, 79}
Moisturizer Berminyak Kusam Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Alpha Hydroxy Acids (AHA), Vitamin C, Shea Butter
{69, 72, 78, 79, 60}
Moisturizer Berminyak Jerawat Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{69, 72, 75, 78, 79}
Moisturizer Kering Normal Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea
{65, 69, 72, 78, 79}
Moisturizer Kering Kusam Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Alpha Hydroxy Acids (AHA), Vitamin C, Niacinamide, Shea Butter
{69, 72, 78, 79, 60}
Moisturizer Kering Jerawat Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{69, 72, 75, 78, 79}
Moisturizer Kombinasi Normal Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E
{69, 72, 75, 78, 79}
Moisturizer Kombinasi Kusam Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Alpha Hydroxy Acids (AHA), Niacinamide, Shea Butter
{69, 72, 78, 79, 60}
Moisturizer Kombinasi Jerawat Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E, Salicylic Acid, Sulfur, Azelaic Acid, Alpha Hydroxy Acid (AHA), Beta Hydroxy Acid (BHA), Tea Tree Oil
{69, 72, 75, 78, 79}
Sunscreen Normal Normal
{96, 99, 86, 90, 93}
Sunscreen Berminyak Normal Dimethicone, Glycolic Acid, Hyaluronic Acid, Niacinamide, Retinol, Salicylic Acid
{96, 97, 86, 87, 92}
Sunscreen Kering Normal Hyaluronic Acid, Glycerin, Glycolic Acid, Aloe Vera, Lactic Acid, Green Tea
{96, 97, 99, 86, 93}
Sunscreen Kombinasi Normal Hyaluronic Acid, Lactic Acid, Retinol, Vitamin C, Vitamin E
{96, 97, 99, 86, 93}

In [151]:
data_index['index'][11]

{3, 4, 5, 6, 15}

In [150]:
data_index.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'IndexRekomendasi.xlsx', index=False)

# IMPORT DATA REKOMENDASI AHLI

In [107]:
pd.set_option('display.max_colwidth', 200)
# Membaca data csv
data_path = "C:\\Users\\HP\\Downloads\\TUGAS AKHIR\\Produk Skincare Data - Copy of Copy of data rekomendasi ahli.csv"
data_ahli = pd.read_csv(data_path)

# Menampilkan data
data_ahli.head(5)

,NO,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Index,5 Rekomendasi
0,1,Facial wash,Normal,Normal,10,Kind Facial Wash 120ml
1,1,Facial wash,Normal,Normal,11,Facial Wash Gel (Sabun Wajah) Rose
2,1,Facial wash,Normal,Normal,13,Skin Barrier Face Gel Cleanser
3,1,Facial wash,Normal,Normal,14,Deep Water Face & Light Makeup Gel Cleanser
4,1,Facial wash,Normal,Normal,17,Hydralife Mild Cleanser Foam

In [142]:
data_ahli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jenis Produk        52 non-null     object
 1   Jenis Kulit         52 non-null     object
 2   Permasalahan Kulit  52 non-null     object
 3   Index               52 non-null     object
 4   5 Rekomendasi       52 non-null     object
dtypes: object(5)
memory usage: 2.2+ KB

In [109]:
data_ahli['Index'] = data_ahli['Index'].astype(object)

In [110]:
data_ahli = data_ahli.groupby('NO', as_index=False).agg(
    {'Jenis Produk': 'first', 'Jenis Kulit': 'first', 'Permasalahan Kulit': 'first', 'Index': lambda x: list(x), '5 Rekomendasi': ', '.join})

data_ahli.head(3)

,NO,Jenis Produk,Jenis Kulit,Permasalahan Kulit,Index,5 Rekomendasi
0,1,Facial wash,Normal,Normal,"[10, 11, 13, 14, 17]","Kind Facial Wash 120ml, Facial Wash Gel (Sabun Wajah) Rose, Skin Barrier Face Gel Cleanser, Deep Water Face & Light Makeup Gel Cleanser, Hydralife Mild Cleanser Foam"
1,2,Facial wash,Normal,Kusam,"[6, 14, 0, 1, 2]","Golden Age Deep Cleansing Facial Wash, Deep Water Face & Light Makeup Gel Cleanser, Marigold Deep-Cleanse Facial Wash, Acne Facial Wash, Hy! Amino Wow-tery Hydrating Facial Wash"
2,3,Facial wash,Normal,Jerawat,"[18, 3, 8, 12, 15]","Acne Buster Mild Cleanser Foam, Hy! Amino Ac-TtackAnti-Acne Facial Wash, Simply Bright Facial Wash Grape & Hyaluronic Acid, Licorice Bring The Light Cleanser, Tea Tree & Lemon Facial Cleanser"

In [111]:
data_ahli = data_ahli.drop(labels=["NO"], axis='columns')

In [139]:
data_ahli['Index'][0]

[10, 11, 13, 14, 17]

In [152]:
data_ahli.to_excel("C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" +'HasilRekomendasiAhli.xlsx', index=False)

# CONFUSION MATRIX

In [130]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import classification_report

# for i in range (0,10):
# y_true = [0, 1, 0, 1, 0, 1, 0]
# y_pred = [1, 1, 1, 0, 1, 0, 1]
y_true = [1,1,0,0,0]
y_pred = [0,1,0,0,0]
# y_true = data_ahli['Index'][i]
# y_pred = data_index['index'][i]

# compute the confusion matrix
conf_matrix = confusion_matrix(y_true, y_pred, labels=[1, 0])
print("Confusion matrix:\n", conf_matrix)

# compute other evaluation metrics
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
f1 = f1_score(y_true, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

print(classification_report(y_true, y_pred))

Confusion matrix:
 [[1 1]
 [0 3]]
Accuracy: 0.8
Precision: 1.0
Recall: 0.5
F1 Score: 0.6666666666666666
              precision    recall  f1-score   support

           0       0.75      1.00      0.86         3
           1       1.00      0.50      0.67         2

    accuracy                           0.80         5
   macro avg       0.88      0.75      0.76         5
weighted avg       0.85      0.80      0.78         5

In [115]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import mean_absolute_error

for i in range(0, 10):
  y_true = data_ahli['Index'][i]
  y_pred = data_index['index'][i]

  # compute the confusion matrix
  mae = mean_absolute_error(y_true, y_pred)
  print("MAE:\n", mae)

MAE:
 5.2
MAE:
 6.8
MAE:
 5.4
MAE:
 14.2
MAE:
 4.2
MAE:
 7.4
MAE:
 4.8
MAE:
 6.6
MAE:
 12.6
MAE:
 5.2

In [154]:
th_data_ahli = pd.read_excel(
    "C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" + 'MatriksHasilRekomendasiAhli.xlsx')
th_data_ahli.head(3)

                                                                                                                                                                                                     index
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  [1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [155]:
th_data_sistem = pd.read_excel(
    "C:/Users/HP/Downloads/TUGAS AKHIR/EXCEL KODINGAN/" + 'MatriksHasilRekomendasiSistem.xlsx')
th_data_sistem.head(3)

                                                                                                                                                                                                     index
0  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  [1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  [0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [158]:
import ast
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report

for i in range (0,10):
  y_true = ast.literal_eval(th_data_ahli['index'][i])
  y_pred = ast.literal_eval(th_data_sistem['index'][i])

  # compute the confusion matrix
  conf_matrix = confusion_matrix(y_true, y_pred, labels=[1, 0])
  print("Confusion matrix:\n", conf_matrix)

  # compute other evaluation metrics
  accuracy = accuracy_score(y_true, y_pred)
  precision = precision_score(y_true, y_pred)
  recall = recall_score(y_true, y_pred)
  f1 = f1_score(y_true, y_pred)

  print("Accuracy:", accuracy)
  print("Precision:", precision)
  print("Recall:", recall)
  print("F1 Score:", f1)

  print(classification_report(y_true, y_pred))

Confusion matrix:
 [[ 3  2]
 [ 2 93]]
Accuracy: 0.96
Precision: 0.6
Recall: 0.6
F1 Score: 0.6
              precision    recall  f1-score   support

           0       0.98      0.98      0.98        95
           1       0.60      0.60      0.60         5

    accuracy                           0.96       100
   macro avg       0.79      0.79      0.79       100
weighted avg       0.96      0.96      0.96       100

Confusion matrix:
 [[ 1  4]
 [ 4 91]]
Accuracy: 0.92
Precision: 0.2
Recall: 0.2
F1 Score: 0.20000000000000004
              precision    recall  f1-score   support

           0       0.96      0.96      0.96        95
           1       0.20      0.20      0.20         5

    accuracy                           0.92       100
   macro avg       0.58      0.58      0.58       100
weighted avg       0.92      0.92      0.92       100

Confusion matrix:
 [[ 2  3]
 [ 3 92]]
Accuracy: 0.94
Precision: 0.4
Recall: 0.4
F1 Score: 0.4000000000000001
              precision    recall  f1-score   support

           0       0.97      0.97      0.97        95
           1       0.40      0.40      0.40         5

    accuracy                           0.94       100
   macro avg       0.68      0.68      0.68       100
weighted avg       0.94      0.94      0.94       100

Confusion matrix:
 [[ 1  4]
 [ 4 91]]
Accuracy: 0.92
Precision: 0.2
Recall: 0.2
F1 Score: 0.20000000000000004
              precision    recall  f1-score   support

           0       0.96      0.96      0.96        95
           1       0.20      0.20      0.20         5

    accuracy                           0.92       100
   macro avg       0.58      0.58      0.58       100
weighted avg       0.92      0.92      0.92       100

Confusion matrix:
 [[ 2  3]
 [ 3 92]]
Accuracy: 0.94
Precision: 0.4
Recall: 0.4
F1 Score: 0.4000000000000001
              precision    recall  f1-score   support

           0       0.97      0.97      0.97        95
           1       0.40      0.40      0.40         5

    accuracy                           0.94       100
   macro avg       0.68      0.68      0.68       100
weighted avg       0.94      0.94      0.94       100

Confusion matrix:
 [[ 2  3]
 [ 3 92]]
Accuracy: 0.94
Precision: 0.4
Recall: 0.4
F1 Score: 0.4000000000000001
              precision    recall  f1-score   support

           0       0.97      0.97      0.97        95
           1       0.40      0.40      0.40         5

    accuracy                           0.94       100
   macro avg       0.68      0.68      0.68       100
weighted avg       0.94      0.94      0.94       100

Confusion matrix:
 [[ 1  4]
 [ 4 91]]
Accuracy: 0.92
Precision: 0.2
Recall: 0.2
F1 Score: 0.20000000000000004
              precision    recall  f1-score   support

           0       0.96      0.96      0.96        95
           1       0.20      0.20      0.20         5

    accuracy                           0.92       100
   macro avg       0.58      0.58      0.58       100
weighted avg       0.92      0.92      0.92       100

Confusion matrix:
 [[ 1  4]
 [ 4 91]]
Accuracy: 0.92
Precision: 0.2
Recall: 0.2
F1 Score: 0.20000000000000004
              precision    recall  f1-score   support

           0       0.96      0.96      0.96        95
           1       0.20      0.20      0.20         5

    accuracy                           0.92       100
   macro avg       0.58      0.58      0.58       100
weighted avg       0.92      0.92      0.92       100

Confusion matrix:
 [[ 2  3]
 [ 3 92]]
Accuracy: 0.94
Precision: 0.4
Recall: 0.4
F1 Score: 0.4000000000000001
              precision    recall  f1-score   support

           0       0.97      0.97      0.97        95
           1       0.40      0.40      0.40         5

    accuracy                           0.94       100
   macro avg       0.68      0.68      0.68       100
weighted avg       0.94      0.94      0.94       100

Confusion matrix:
 [[ 2  3]
 [ 3 92]]
Accuracy: 0.94
Precision: 0.4
Recall: 0.4
F1 Score: 0.4000000000000001
              precision    recall  f1-score   support

           0       0.97      0.97      0.97        95
           1       0.40      0.40      0.40         5

    accuracy                           0.94       100
   macro avg       0.68      0.68      0.68       100
weighted avg       0.94      0.94      0.94       100